body
{

    height: 150vh;
   
    
    
}

.items{
    height:auto;
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


 .form-control{
    background-color: rgba(0, 0, 0, 0) !important;
  
 
}

.form-control::placeholder {
    color: rgba(0, 0, 0) !important; 
    
} 