body
{
    height: 100vh;
    overflow: hidden;
    
    
}

.items{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    
    backdrop-filter: blur(10px);
 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-control{
    background-color: transparent !important;
    
 
}


hr{
    color: rgb(0, 0, 0);
    height: 3px !important;
}