body
{

    height: 100vh;
    overflow: auto;
    /* background-image: url(../image/back-ground.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; */
    
}

.items{
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    /* background-color: transparent !important;
    color: white; */
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .form-control:focus {
    color: white!important; 
   
} */
 .form-control{
    background-color: rgba(0, 0, 0, 0) !important;
    /* border: 1px solid white !important;
    color: white !important; */
 
}
/* .form-check-input{
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid white !important;
    color: white !important;
} */
/* .form-control::placeholder {
    color: rgba(0, 0, 0, 0.745) !important; 
    
}  */

.error{
    display: flex;
    justify-content: start !important;
}